# See https://help.github.com/ignore-files/ for more about ignoring files.

# client ignore files
client/node_modules
client/public

# corestream service ignore files
server/core-stream/node_modules

# newsapi service ignore files
server/news-api/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
